name: artifact workflow
on: push
jobs:
  artifacts:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: create artifact
        run: echo "this is sample artifacts file" >> artifact.txt
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: example-artifact
          path: artifact.txt
  artifacts-download:
    runs-on: ubuntu-latest
    needs: artifacts
    steps: 
      - name: download artifacts
        uses: actions/download-artifact@v4
        with: 
          name: example-artifact
      - name: print the contents of artifact
        run: cat artifact.txt
