name: workflow check
on: push
jobs:
  job-1:
    runs-on: ubuntu-latest
    steps: 
      - name: sleep
        run: sleep 20
      - name: step2
        id: step2
        run: exit 0
      - name: runs on failure
        if: failure() && steps.step2.conclusion == 'failure'
        run: echo " this runs on failure of step2"
      - name: runs always
        if: always()
        run: echo "this workflow always runs"
      - name: runs on cancelled
        if: cancelled()
        run: echo "this runs only when a workflow is cancelled"
  job-2:
    runs-on: ubuntu-latest
    needs: job-1
    if: failure()
    steps:
      - name: job-2
        run: echo " this job runs only on failure of job-2"  